<!doctype html>
<html id="ng-app"  xmlns:ng="http://angularjs.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" >
<title>通用申报</title>
<script></script>
</head>

<body>
<div style="width:2100px; margin:auto;" id="viewCtrlId" ng-controller="viewCtrl">
<ng-codetable url="dm_gy_zsxm.json" name="zsxmDmCT" node="" dm="root.dm" mc="root.mc"></ng-codetable>
<ng-codetable url="dm_gy_zspm.json" name="zspmDmCT" node="" dm="root.dm" mc="root.mc"></ng-codetable>
<ng-codetable url="dm_gy_zszm.json" name="zszmDmCT" node="" dm="root.dm" mc="root.mc"></ng-codetable>
<ng-codetable model="qcs.formContent.sbTysb.body.sbxxGrid.sbxxGridlb" name="jmxzDmCT" node="" dm="zspmDm" mc=""></ng-codetable>
<div class="NewTableHead" ng-jprefix="fxmtysbbdVO.fxmtySbb.sbbhead">
     <h1>税（费）通用申报表</h1>
     <li class="dateTxt">税款所属期:<input  type="text" class="topInput"   ng-model="sbbhead.skssqq" readonly> 至<input  type="text" class="topInput"   ng-model="sbbhead.skssqz" readonly>  </li>
</div>


<div class="NewTableTop" ng-jprefix="fxmtysbbdVO.fxmtySbb.sbbhead">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>纳税人名称：      <span class="textline" ng-bind="sbbhead.nsrmc"></span></td>
    <td align="right">纳税人识别号：<span class="topInput"   ng-bind="sbbhead.nsrsbh"></span> </td>
  </tr>
  <tr>
    <td>填表日期：<input  type="text" class="topInput"   ng-model="sbbhead.sbrq1" readonly> </td>
    <td align="right">计量单位：元</td>
  </tr>
</table>
</div>

<div class="NewTableMain">
<table width="100%" border="0" cellspacing="1" cellpadding="0" ng-jprefix="fxmtysbbdVO.fxmtySbb.sbxxGrid.sbxxGridlb">
  <tr>
    <td align="center" class="title01" width="1%"><strong>     
      <input type="checkbox" name="checkboxAll" id="checkbox"  ng-model="sbxxGrid.allSelected">    
    </strong></td>
    <td align="center" class="title01" width="8%"><strong>征收项目</strong></td>
    <td align="center" class="title01" width="8%"><strong>征收品目</strong></td>
    <td align="center" class="title01" width="9%"><strong>征收子目</strong></td>
    <td align="center" class="title01"><strong>税（费）款所属期起</strong></td>
    <td align="center" class="title01"><strong>税（费）款所属期止</strong></td>
    <td align="center" class="title01" width="7%"><strong>应税项</strong></td>
    <td align="center" class="title01" width="6%"><strong>减除项</strong></td>
    <td align="center" class="title01"><strong>应税所得率</strong></td>
    <td align="center" class="title01" width="7%"><strong>计税（费）依据 </strong></td>
    <td align="center" class="title01" width="4%"><strong>税（费）率或单位税额</strong></td>
    <td align="center" class="title01" width="6%"><strong>速算扣除数 </strong></td>
    <td align="center" class="title01" width="6%"><strong>本期应纳税（费）额</strong></td>
    <td align="center" class="title01" width="10%"><strong>减免性质代码</strong></td>
    <td align="center" class="title01" width="6%"><strong>减免税（费）额 </strong></td>
    <td align="center" class="title01" width="6%"><strong>本期已缴税（费）额</strong></td>
    <td align="center" class="title01" width="6%"><strong>本期应补<br>（退）税（费）额</strong></td>
    <td align="center" class="title01" style="display: none"><strong>认定凭证UUID</strong></td>
    <td align="center" class="title01" style="display: none"><strong>实际经营月份</strong></td>
    <td align="center" class="title01" style="display: none"><strong>已申报月份</strong></td>    
    <td align="center" class="title01" style="display: none"><strong>是否提交标志</strong></td>    
    <td align="center" class="title01" style="display: none"><strong>纳税期限代码</strong></td>    
    </tr>
  <tr ng-repeat="p in sbxxGridlb track by $index" ng-repeat-init="sbxxGridlb"
        default-value='{"yssdl":1,"sybzDm1":"","sybh1":"","syzldz":"","zsxmDm":"","zspmDm":"","zszmDm":"","sfkssqq":"","sfkssqz":"","ysx":0,"jcx":0,"jsfyj":0,"sflhdwse":0,"sskcs":0,"bqynsfe":0,"bqjmsfe":0,"bqyjsfe":0,"bqybtsfe":0,"wdqzdbz":"","rdpzuuid":"","rdzsuuid":"","ysbse":0,"ssjmxzDm":""}'>      
    <td align="center" class="title01"><input type="checkbox"  name="sftj"  ng-model="p.checkedbz" ></td>
    <td width="20" align="center" class="read left"><input  ng-bind="p.zsxmDm" ng-value="CT.zsxmDmCT[p.zsxmDm]"   type="text" readonly></td>
    <td class="read left"><input ng-bind="p.zspmDm"  type="text"  ng-value="CT.zspmDmCT[p.zspmDm]" type="text"  readonly></td>
 	<td class="read left"><input  ng-bind="p.zszmDm" type="text" ng-value="CT.zszmDmCT[p.zszmDm]"   type="text"  readonly></td>
    <td class="read mid"><input  type="text" ng-model="p.sfkssqq" readonly   ></td>
    <td class="read mid"><input  type="text"  ng-model="p.sfkssqz" readonly   ></td>
    <td class="edit right"><input ng-model="p.ysx" ng-datatype="number"   type="text" ></td>
    <td class="edit right"><input ng-model="p.jcx" ng-datatype="number"  type="text"  ></td>
    <td class="read right"><input ng-model="p.yssdl" ng-datatype="number"   type="text"  readonly></td>
    <td class="read right"><input ng-model="p.jsfyj" ng-datatype="number"   type="text"  readonly></td>
    <td class="read right"><input  ng-datatype="number{6}"   ng-model="p.sflhdwse"   type="text"  readonly></td>
    <td class="read right"><input ng-model="p.sskcs" ng-datatype="number"   type="text" readonly ></td>
    <td class="read right"><input ng-model="p.bqynsfe"  ng-datatype="number"   type="text"  readonly></td>
    <td ><select ng-select-query class="form-control" placeholder="请选择" ng-model="p.ssjmxzDm"  ng-options="value.dm as value.dm+'|'+value.mc for (key,value) in CT.jmxzDmCT[p.zspmDm].option" ng-selected="key==value.pc" 
    ng-change="p.bqjmsfe=0"><option  value=""></option></select></td>    
    <td class="edit right"><input ng-model="p.bqjmsfe"  ng-datatype="number"   type="text"  ></td>
    <td class="edit right"><input ng-model="p.bqyjsfe" ng-datatype="number"   type="text" ></td>
    <td class="read right"><input ng-model="p.bqybtsfe" ng-datatype="number"   type="text"  readonly></td>
    <td class="read left" style="display: none"><input   ng-model="p.rdpzuuid"  type="text"  readonly></td>
    <td class="read left" style="display: none"><input   ng-model="p.sjjyyf"  type="text"  readonly></td>
    <td class="read left" style="display: none"><input   ng-model="p.ysbyf"  type="text"  readonly></td>
    <td class="read left" style="display: none"><input   ng-value="p.sftj=p.checkedbz==true?'Y':'N'"  type="text"  readonly></td>
    <td class="read left" style="display: none"><input   ng-model="p.nsqxDm"  type="text"  readonly></td>  
  </tr>
  <tr ng-jprefix="fxmtysbbdVO.fxmtySbb.sbxxGrid">
    <td align="center" class="title01" colspan="2">合计(已勾选)</td>
    <td class="read mid"> <input  type="text"  value="--" readonly ></td>
    <td class="read mid"> <input  type="text"  value="--" readonly  ></td>
    <td class="read mid"> <input  type="text"  value="--" readonly  ></td>
    <td class="read mid"> <input  type="text"  value="--" readonly  ></td>
    <td class="read mid"> <input  type="text"  value="--" readonly></td>
    <td class="read mid"> <input  type="text"  value="--" readonly></td>
    <td class="read mid"><input  type="text"  value="--" readonly  ></td>
    <td class="read mid"><input  type="text"  value="--" readonly ></td>
    <td class="read mid"><input  type="text"  value="--" readonly  ></td>
    <td class="read mid"><input  type="text"  value="--" readonly  ></td>
    <td class="read right"><input ng-model="sbxxGrid.bqynsfehjYgx" ng-datatype="number"   type="text"  readonly></td>
    <td class="read mid"><input  type="text"  value="--" readonly ></td>
    <td class="read right"><input ng-model="sbxxGrid.bqjmsfehjYgx" ng-datatype="number"   type="text" readonly ></td>
    <td class="read right"><input  ng-datatype="number" ng-model="sbxxGrid.bqyjsfehjYgx"  type="text"   readonly></td>
    <td class="read right"><input ng-model="sbxxGrid.bqybtsfehjYgx" ng-datatype="number"   type="text"  readonly></td>
    <td class="read mid" style="display: none"><input  type="text"  value="--" readonly ></td>
    <td class="read mid" style="display: none"><input  type="text"  value="--" readonly ></td>
    <td class="read mid" style="display: none"><input  type="text"  value="--" readonly ></td>
    <td class="read mid" style="display: none"><input  type="text"  value="--" readonly ></td>
    <td class="read mid" style="display: none"><input  type="text"  value="--" readonly ></td>
    </tr>
  <tr ng-jprefix="fxmtysbbdVO.fxmtySbb.sbxxGrid">
    <td align="center" class="title01"  colspan="2">合计</td>
    <td class="read mid"> <input  type="text"  value="--" readonly ></td>
    <td class="read mid"> <input  type="text"  value="--" readonly  ></td>
    <td class="read mid"> <input  type="text"  value="--" readonly  ></td>
    <td class="read mid"> <input  type="text"  value="--" readonly  ></td>
    <td class="read mid"> <input  type="text"  value="--" readonly></td>
    <td class="read mid"> <input  type="text"  value="--" readonly></td>
    <td class="read mid"><input  type="text"  value="--" readonly  ></td>
    <td class="read mid"><input  type="text"  value="--" readonly ></td>
    <td class="read mid"><input  type="text"  value="--" readonly  ></td>
    <td class="read mid"><input  type="text"  value="--" readonly  ></td>
    <td class="read right"><input ng-model="sbxxGrid.bqynsfehj" ng-datatype="number"   type="text"  readonly></td>
    <td class="read mid"><input  type="text"  value="--" readonly ></td>
    <td class="read right"><input ng-model="sbxxGrid.bqjmsfehj" ng-datatype="number"   type="text" readonly ></td>
    <td class="read right"><input  ng-datatype="number" ng-model="sbxxGrid.bqyjsfehj"  type="text"   readonly></td>
    <td class="read right"><input ng-model="sbxxGrid.bqybtsfehj" ng-datatype="number"   type="text"  readonly></td>
    <td class="read mid" style="display: none"><input  type="text"  value="--" readonly ></td>
    <td class="read mid" style="display: none"><input  type="text"  value="--" readonly ></td>
    <td class="read mid" style="display: none"><input  type="text"  value="--" readonly ></td>
    <td class="read mid" style="display: none"><input  type="text"  value="--" readonly ></td>
    <td class="read mid" style="display: none"><input  type="text"  value="--" readonly ></td>
    </tr>
    <tr ng-render-finish=""></tr>
</table>
</div>
<div class="NewTableFoot">
 	<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr ng-render-finish="">
    <td style="color:#F00;display:none"  ng-show-html="formData.qcs.showWxts == undefined">温馨提示：</td>
  </tr>
  <tr ng-render-finish="">
    <td style="text-indent:2em; color:#F00;display:none" ng-show-html="formData.qcs.showWxts == undefined"> 根据 《财政部 国家税务总局关于扩大有关政府性基金免征范围的通知》（财税〔2016〕12号）规定，从2016年2月1日起，月纳税营业额或销售额不超10万元（季纳税营业额或销售额不超过30万元）的缴纳义务人，免征教育费附加、地方教育附加。<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 如系统无自动计算减免税额，则 “增值税教育费附加”和“增值税地方教育费附加”需手动选择减免，具体操作方式为：在“减免性质代码列”选择“其他”，并录入减免金额。<br/>
</td>
  </tr>
</table>

  </div>
</div>
</body>
</html>
