@{
    ViewBag.Title = "make";
}


<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=8; IE=EDGE">
<title>提醒</title>
<script language=JavaScript src="/sbzs-cjpt-web/abacus/_res_/js/lib/jquery.min.js"></script>
<link href="/sbzs-cjpt-web/abacus/_res_/css/error/msg.css" rel="stylesheet"
	type="text/css" />
	 
	
<script language=JavaScript>
    var showFlag = @ViewBag.success
function showError() {
	if(!showFlag){
		$("#errorDiv").fadeIn(200);
		showFlag = true
	}else{
		$("#errorDiv").hide();
		showFlag = false;
	}
}
$(function () {
    showError()
})
</script>
</head>

<body>
	
	<div class="main">
		<div class="main-top">
			<ul>
				<li>@ViewBag.text</li>
				<li style="display: none" hidden="hidden"></li>
				
			</ul>
		</div>
		<div class="main-list" id="errorDiv" style="display:none">
			<ul>
				<H2>Exception</H2>
			    @ViewBag.ErrorMsg
			</ul>
		</div> 
	</div>
</body>
