<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=8; IE=EDGE">
<title>增值税纳税申报表（一般纳税人适用）期初数设置</title>
<link rel="stylesheet" type="text/css" href="../../../../resources/style/green/css/table.css">
<script src="../../../../resources/js/lib/jquery.min.js"></script>
<script src="../../../../resources/js/lib/json3.min.js" type="text/javascript"></script>
<script src="../../../../resources/js/lib/jsonpath.js" type="text/javascript"></script>
<script src="../../../../resources/js/lib/message.js" type="text/javascript"></script>
<script src="../../../../resources/js/setting/angular_compatible_IE7.js" type="text/javascript"></script>
<script src="../../../../resources/js/lib/angular.js" type="text/javascript"></script>
<script src="../../../../setting_res/ybnsrzzsqcs/ybnsrzzsqcs.js" type="text/javascript"></script>
<script src="../../../../resources/js/setting/setViewDirective.js" type="text/javascript"></script>
</head>

<body>
<div style="width:86%; margin:auto;" id="viewCtrlId" ng-controller="viewCtrl">

<div id="zbqcssz" class="NewTableHead">
     <h1>增值税纳税申报表（一般纳税人适用）期初数设置</h1>
     <span id="formDataSpan" style="display:none;">{{formData}}</span>
    <li class="dateTxt">税款所属期:
    <!-- <input name="textfield3" type="text" class="laydate-icon" id="sssqQ"> -->
    <input name="textfield3" type="text" disabled id="sssqQHolder" ng-model="formData.sssq.rqQ">  至
    <!-- <input name="textfield3" type="text" class="laydate-icon" id="sssqZ"> -->
    <input name="textfield3" type="text" disabled id="sssqZHolder" ng-model="formData.sssq.rqZ"> 
    </li>
</div>
<div class="NewTableMain">
  <table width="100%" border="0" cellpadding="0" cellspacing="1">
    <col width="26">
    <col width="17">
    <col width="22">
    <col width="36">
    <col width="22" span="8">
    <col width="18">
    <col width="22" span="4">
    <col width="18">
    <col width="22" span="4">
    <col width="21">
    <col width="23">
    <col width="14">
    <col width="22">
    <col width="1">
    <col width="22" span="2">
    <col width="34">
    <col width="22" span="2">
    <col width="63">
    <col width="19">
    <col width="6">
    <col width="55">
    <col width="22">
    <col width="19">
    <col width="54">
    <tr>
      <td colspan="13" rowspan="2" align="center" class="title01">项      目</td>
      <td colspan="5" rowspan="2" align="center" class="title01">栏次</td>
      <td align="center" colspan="8" class="title01">一般项目</td>
      <td align="center" colspan="2" class="title01">即征即退项目</td>
    </tr>
    <tr>
      <td colspan="7" align="center"  width="14%" class="title01" >本月初始值</td>
      <td align="center" width="14%"  class="title01">本年累计初始值</td>
      <td width="14%" align="center" class="title01">本月初始值</td>
      <td align="center" width="14%"  class="title01">本年累计初始值</td>
    </tr>
    <tr>
      <td rowspan="10" class="title01">销售额</td>
      <td colspan="12" class="title01">（一）按适用税率计税销售额</td>
      <td colspan="5" align="center" class="title01">1</td>
      <td colspan="7" class="ReadInput01" ><input readonly="true"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.asyslzshwjlwxxe.ybhwjlwBnlj" type="text" ></td>
      <td class="ReadInput01"> <input readonly="true" type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.asyslzshwjlwxxe.jzjthwjlwBnlj" type="text" ></td>
    </tr>
    <tr>
      <td colspan="12" class="title01">其中：应税货物销售额</td>
      <td colspan="5" align="center" class="title01">2</td>
      <td colspan="7" class="ReadInput01" ><input readonly="true"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.yshwxse.ybhwjlwBnlj" type="text" ></td>
      <td class="ReadInput01"><input readonly="true"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.yshwxse.jzjthwjlwBnlj" type="text" >      </td>
      </tr>
    <tr>
      <td colspan="12" class="title01">&nbsp;&nbsp;&nbsp;&nbsp; 应税劳务销售额</td>
      <td colspan="5" align="center" class="title01">3</td>
      <td colspan="7" class="ReadInput01" ><input readonly="true"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.yslwxse.ybhwjlwBnlj" type="text" ></td>
      <td class="ReadInput01"><input readonly="true"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.yslwxse.jzjthwjlwBnlj" type="text" >      </td>
      </tr>
    <tr>
      <td colspan="12" class="title01">&nbsp;&nbsp;&nbsp;&nbsp; 纳税检查调整的销售额</td>
      <td colspan="5" align="center" class="title01">4</td>
      <td colspan="7" class="ReadInput01" ><input readonly="true"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.nsjctzdxse.ybhwjlwBnlj" type="text" ></td>
      <td class="ReadInput01"><input readonly="true"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.nsjctzdxse.jzjthwjlwBnlj" type="text" >      </td>
      </tr>
    <tr>
      <td colspan="12" class="title01">（二）按简易办法计税销售额</td>
      <td colspan="5" align="center" class="title01">5</td>
      <td colspan="7" class="ReadInput01" ><input readonly="true"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.ajyzsbfzshwxse.ybhwjlwBnlj" type="text" ></td>
      <td class="ReadInput01"><input readonly="true"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.ajyzsbfzshwxse.jzjthwjlwBnlj" type="text" >      </td>
      </tr>
    <tr>
      <td colspan="12" class="title01">其中：纳税检查调整的销售额</td>
      <td colspan="5" align="center" class="title01">6</td>
      <td colspan="7" class="ReadInput01" ><input readonly="true"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.qznsjctzdxse.ybhwjlwBnlj" type="text" ></td>
      <td class="ReadInput01"><input readonly="true"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.qznsjctzdxse.jzjthwjlwBnlj" type="text" >      </td>
      </tr>
    <tr>
      <td colspan="12" class="title01">（三）免、抵、退办法出口销售额</td>
      <td colspan="5" align="center" class="title01">7</td>
      <td colspan="7" class="ReadInput01" ><input readonly="true"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.mdtbfckhwxse.ybhwjlwBnlj" type="text" ></td>
      <td class="ReadInput02"><input type="text" value="--" readonly></td>
      <td class="ReadInput02"><input type="text" value="--" readonly></td>
    </tr>
    <tr>
      <td colspan="12" class="title01">（四）免税销售额</td>
      <td colspan="5" align="center" class="title01">8</td>
      <td colspan="7" class="ReadInput01" ><input readonly="true"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.mshwjlwxse.ybhwjlwBnlj" type="text" ></td>
      <td class="ReadInput02"><input type="text" value="--" readonly></td>
      <td class="ReadInput02"><input type="text" value="--" readonly></td>
    </tr>
    <tr>
      <td colspan="12" class="title01">其中：免税货物销售额</td>
      <td colspan="5" align="center" class="title01">9</td>
      <td colspan="7" class="ReadInput01" ><input readonly="true"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.mshwxse.ybhwjlwBnlj" type="text" ></td>
      <td class="ReadInput02"><input type="text" value="--" readonly></td>
      <td class="ReadInput02"><input type="text" value="--" readonly></td>
    </tr>
    <tr>
      <td colspan="12" class="title01">&nbsp;&nbsp;&nbsp;&nbsp; 免税劳务销售额</td>
      <td colspan="5" align="center" class="title01">10</td>
      <td colspan="7" class="ReadInput01" ><input readonly="true"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.mslwxse.ybhwjlwBnlj" type="text" ></td>
      <td class="ReadInput02"><input type="text" value="--" readonly></td>
      <td class="ReadInput02"><input type="text" value="--" readonly></td>
    </tr>
    <tr>
      <td rowspan="14" class="title01">税款计算</td>
      <td colspan="12" class="title01">销项税额</td>
      <td colspan="5" align="center" class="title01">11</td>
      <td colspan="7" class="ReadInput01" ><input readonly="true"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.xxse.ybhwjlwBnlj" type="text" ></td>
      <td class="ReadInput01"><input readonly="true"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.xxse.jzjthwjlwBnlj" type="text" >      </td>
      </tr>
    <tr>
      <td colspan="12" class="title01">进项税额</td>
      <td colspan="5" align="center" class="title01">12</td>
      <td colspan="7" class="ReadInput01" ><input readonly="true"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.jxse.ybhwjlwBnlj" type="text" ></td>
      <td class="ReadInput01"><input readonly="true"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.jxse.jzjthwjlwBnlj" type="text" >      </td>
      </tr>
    <tr>
      <td colspan="12" class="title01">上期留抵税额</td>
      <td colspan="5" align="center" class="title01">13</td>
      <td colspan="7" class="EditInput01" ><input ng-datatype="number" ng-model="formData.sqldYbhw" type="text"></td>
      <td class="EditInput01"><input id="gzld" ng-datatype="number" ng-model="formData.sqldYbhwBnlj" type="text"></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.sqldJzjt" type="text"></td>
      <td class="ReadInput01"><input type="text" value="--" readonly></td>
    </tr>
    <tr>
      <td colspan="12" class="title01">进项税额转出</td>
      <td colspan="5" align="center" class="title01">14</td>
      <td colspan="7" class="ReadInput01" ><input readonly="true"  type="text" ></td>
      <td  class="EditInput01"><input ng-datatype="number" ng-model="formData.jxsezc.ybhwjlwBnlj" type="text" ></td>
      <td class="ReadInput01"><input readonly="true"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.jxsezc.jzjthwjlwBnlj" type="text" >      </td>
      </tr>
    <tr>
      <td colspan="12" class="title01">免、抵、退应退税额</td>
      <td colspan="5" align="center" class="title01">15</td>
      <td colspan="7" class="EditInput01" ><input ng-datatype="number" ng-model="formData.mdthwytse.ybhwjlwBys"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.mdthwytse.ybhwjlwBnlj" ng-value="formData.mdthwytse.ybhwjlwBnlj=formData.mdthwytse.ybhwjlwBnlj2-formData.mdthwytse.ybhwjlwBys" type="text" style="display:none">
      <input ng-datatype="number" ng-model="formData.mdthwytse.ybhwjlwBnlj2" type="text" ></td>
      <td class="ReadInput02"><input type="text" value="--" readonly></td>
      <td class="ReadInput02"><input type="text" value="--" readonly></td>
    </tr>
    <tr>
      <td colspan="12" class="title01">按适用税率计算的纳税检查应补缴税额</td>
      <td colspan="5" align="center" class="title01">16</td>
      <td colspan="7" class="ReadInput01" ><input readonly="true"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.asysljsdnsjcybjse.ybhwjlwBnlj" type="text" ></td>
      <td class="ReadInput02"><input  type="text" value="--" readonly></td>
      <td class="ReadInput02"><input  type="text" value="--" readonly></td>
    </tr>
    <tr>
      <td colspan="12" class="title01">应抵扣税额合计</td>
      <td colspan="5" align="center" class="title01">17=12+13-14-15+16</td>
      <td colspan="7" class="ReadInput01" ><input readonly="true"  type="text" ></td>
      <td class="ReadInput02"><input type="text" value="--" readonly></td>
       <td class="ReadInput01"><input readonly="true"  type="text" ></td>
      <td class="ReadInput02"><input type="text" value="--" readonly></td>
    </tr>
    <tr>
      <td colspan="12" class="title01">实际抵扣税额</td>
      <td width="106" colspan="5" align="center" class="title01">18（如17&lt;11，则为17，否则为11）</td>
      <td colspan="7" class="ReadInput01" ><input readonly="true"  type="text" ></td>
      <td class="ReadInput01"><input type="text" readonly></td>
      <td class="ReadInput01"><input readonly="true"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.sjdkse.jzjthwjlwBnlj" type="text" >      </td>
      </tr>
    <tr>
      <td colspan="12" class="title01">应纳税额</td>
      <td colspan="5" align="center" class="title01">19=11-18</td>
      <td colspan="7" class="ReadInput01" ><input readonly="true"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.ynse.ybhwjlwBnlj" type="text" ></td>
      <td class="ReadInput01"><input readonly="true"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.ynse.jzjthwjlwBnlj" type="text" >      </td>
      </tr>
    <tr>
      <td colspan="12" class="title01">期末留抵税额</td>
      <td colspan="5" align="center" class="title01">20=17-18</td>
      <td colspan="7" class="ReadInput01" ><input readonly="true"  type="text" ></td>
      <td class="ReadInput01"><input type="text" value="--" readonly></td>
      <td class="ReadInput01"><input readonly="true"  type="text" ></td>
      <td class="ReadInput01"><input type="text" value="--" readonly></td>
    </tr>
    <tr>
      <td colspan="12" class="title01">简易计税办法计算的应纳税额</td>
      <td colspan="5" align="center" class="title01">21</td>
      <td colspan="7" class="ReadInput01" ><input readonly="true"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.jyzsbfjsdynse.ybhwjlwBnlj" type="text" ></td>
      <td class="ReadInput01"><input readonly="true"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.jyzsbfjsdynse.jzjthwjlwBnlj" type="text" >      </td>
      </tr>
    <tr>
      <td colspan="12" class="title01">按简易计税办法计算的纳税检查应补缴税额</td>
      <td colspan="5" align="center" class="title01">22</td>
      <td colspan="7" class="ReadInput01" ><input readonly="true"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.ajyzsbfjsdnsjcybjse.ybhwjlwBnlj" type="text" ></td>
      <td class="ReadInput02"><input  type="text" value="--" readonly></td>
      <td class="ReadInput02"><input  type="text" value="--" readonly></td>
    </tr>
    <tr>
      <td colspan="12" class="title01">应纳税额减征额</td>
      <td colspan="5" align="center" class="title01">23</td>
      <td colspan="7" class="ReadInput01" ><input readonly="true"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.ynsejze.ybhwjlwBnlj" name="textfield11" type="text" id="textfield11" ></td>
      <td class="ReadInput01"><input readonly="true"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.ynsejze.jzjthwjlwBnlj" type="text" >      </td>
      </tr>
    <tr>
      <td colspan="12" class="title01">应纳税额合计</td>
      <td colspan="5" align="center" class="title01">24=19+21-23</td>
      <td colspan="7" class="ReadInput01" ><input readonly="true"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.ynsehj.ybhwjlwBnlj" type="text" ></td>
      <td class="ReadInput01"><input readonly="true"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.ynsehj.jzjthwjlwBnlj" type="text" >      </td>
      </tr>
    <tr>
      <td rowspan="14" class="title01">税款缴纳</td>
      <td colspan="12" class="title01">期初未缴税额（多缴为负数）</td>
      <td colspan="5" align="center" class="title01">25</td>
      <td colspan="7" class="EditInput01" ><input ng-datatype="number" ng-model="formData.qcwjse.ybhwjlwBys"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.qcwjse.ybhwjlwBnlj" type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.qcwjse.jzjthwjlwBys"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.qcwjse.jzjthwjlwBnlj" type="text" >      </td>
      </tr>
    <tr>
      <td colspan="12" class="title01">实收出口开具专用缴款书退税额</td>
      <td colspan="5" align="center" class="title01">26</td>
      <td colspan="7" class="ReadInput01" ><input readonly="true"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.ssckkjzyjkstse.ybhwjlwBnlj" type="text" ></td>
      <td class="ReadInput02"><input type="text" value="--" readonly></td>
      <td class="ReadInput02"><input type="text" value="--" readonly></td>
    </tr>
    <tr>
      <td colspan="12" class="title01">本期已缴税额</td>
      <td colspan="5" align="center" class="title01">27=28+29+30+31</td>
      <td colspan="7" class="ReadInput01" ><!-- <input readonly="true"  type="text" > --><input ng-datatype="number" ng-model="formData.bqyjse.ybhwjlwBys" type="text" ng-value="formData.bqyjse.ybhwjlwBys=formData.ybhwjlwYjsBys+formData.ckkjzyjksYjse+formData.bqjnsqynse.ybhwjlwBys" readonly="readonly"></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.bqyjse.ybhwjlwBnlj" type="text" ng-value="formData.bqyjse.ybhwjlwBnlj=formData.bqyjse.ybhwjlwBnlj2-formData.bqyjse.ybhwjlwBys" style="display:none">
      <input ng-datatype="number" ng-model="formData.bqyjse.ybhwjlwBnlj2" type="text" ></td>
      <td class="ReadInput01"><input readonly="true"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.bqyjse.jzjthwjlwBnlj" type="text" >      </td>
      </tr>
    <tr>
      <td colspan="12" class="title01">①分次预缴税额</td>
      <td colspan="5" align="center" class="title01">28</td>
      <td colspan="7" class="EditInput01" ><input ng-datatype="number" ng-model="formData.ybhwjlwYjsBys"  type="text"></td>
      <td class="ReadInput02"><input type="text" value="--" readonly></td>
      <td class="ReadInput01"><input   type="text" readonly></td>
      <td class="ReadInput02"><input  type="text" value="--" readonly></td>
    </tr>
    <tr>
      <td colspan="12" class="title01">②出口开具专用缴款书预缴税额</td>
      <td colspan="5" align="center" class="title01">29</td>
      <td colspan="7" class="EditInput01" ><input ng-datatype="number" ng-model="formData.ckkjzyjksYjse"  type="text" ></td>
      <td class="ReadInput02"><input type="text" value="--" readonly></td>
      <td class="ReadInput02"><input type="text" value="--" readonly></td>
      <td class="ReadInput02"><input type="text" value="--" readonly></td>
    </tr>
    <tr>
      <td colspan="12" class="title01">③本期缴纳上期应纳税额</td>
      <td colspan="5" align="center" class="title01">30</td>
      <td colspan="7" class="EditInput01" ><input ng-datatype="number" ng-model="formData.bqjnsqynse.ybhwjlwBys"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.bqjnsqynse.ybhwjlwBnlj" type="text" ng-value="formData.bqjnsqynse.ybhwjlwBnlj=formData.bqjnsqynse.ybhwjlwBnlj2-formData.bqjnsqynse.ybhwjlwBys" style="display:none">
      <input ng-datatype="number" ng-model="formData.bqjnsqynse.ybhwjlwBnlj2" type="text" >
      </td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.bqjnsqynse.jzjthwjlwBys"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.bqjnsqynse.jzjthwjlwBnlj" ng-value="formData.bqjnsqynse.jzjthwjlwBnlj=formData.bqjnsqynse.jzjthwjlwBnlj2-formData.bqjnsqynse.jzjthwjlwBys" type="text" style="display:none">
      <input ng-datatype="number" ng-model="formData.bqjnsqynse.jzjthwjlwBnlj2" type="text" >      </td>
      </tr>
    <tr>
      <td colspan="12" class="title01">④本期缴纳欠缴税额</td>
      <td colspan="5" align="center" class="title01">31</td>
      <td colspan="7" class="ReadInput01" ><input readonly="true"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.bqjnqjse.ybhwjlwBnlj" type="text" ></td>
      <td class="ReadInput01"><input readonly="true"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.bqjnqjse.jzjthwjlwBnlj" type="text" >      </td>
      </tr>
    <tr>
      <td colspan="12" class="title01">期末未缴税额（多缴为负数）</td>
      <td colspan="5" align="center" class="title01">32=24+25+26-27</td>
      <td colspan="7" class="ReadInput01" ><input readonly="true"  type="text" ></td>
      <td class="ReadInput01"><input type="text" readonly></td>
      <td class="ReadInput01"><input readonly="true"  type="text" ></td>
      <td class="ReadInput01"><input type="text"  readonly>      </td>
      </tr>
    <tr>
      <td colspan="12" class="title01">其中：欠缴税额（≥0）</td>
      <td colspan="5" align="center" class="title01">33=25+26-27</td>
      <td colspan="7" class="ReadInput01" ><input readonly="true"  type="text" ></td>
      <td class="ReadInput02"><input  type="text" value="--" readonly></td>
      <td class="ReadInput01"><input readonly="true"  type="text" ></td>
      <td class="ReadInput02"><input  type="text" value="--" readonly></td>
    </tr>
    <tr>
      <td colspan="12" class="title01">本期应补(退)税额</td>
      <td width="106" colspan="5" align="center" class="title01">34＝24-28-29</td>
      <td colspan="7" class="ReadInput01" ><input readonly="true"  type="text" ></td>
      <td width="270" class="ReadInput02"><input type="text" value="--" readonly></td>
      <td class="ReadInput01"><input readonly="true"  type="text" ></td>
      <td width="270" class="ReadInput02"><input type="text" value="--" readonly></td>
    </tr>
    <tr>
      <td colspan="12" class="title01">即征即退实际退税额</td>
      <td colspan="5" align="center" class="title01">35</td>
      <td colspan="7" class="ReadInput02"><input type="text" value="--" readonly></td>
      <td class="ReadInput02"><input  type="text" value="--" readonly></td>
      <td class="ReadInput01"><input readonly="true"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.jzjtsjtse.jzjthwjlwBnlj" type="text" ></td>
    </tr>
    <tr>
      <td colspan="12" class="title01">期初未缴查补税额</td>
      <td colspan="5" align="center" class="title01">36</td>
      <td colspan="7" class="EditInput01" ><input ng-datatype="number" ng-model="formData.qcwjcbse.ybhwjlwBys"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.qcwjcbse.ybhwjlwBnlj" type="text" ></td>
      <td class="ReadInput02"><input  type="text" value="--" readonly></td>
      <td class="ReadInput02"><input  type="text" value="--" readonly></td>
    </tr>
    <tr>
      <td colspan="12" class="title01">本期入库查补税额</td>
      <td colspan="5" align="center" class="title01">37</td>
      <td colspan="7" class="ReadInput01" ><input readonly="true"  type="text" ></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.bqrkcbse.ybhwjlwBnlj" type="text" ></td>
      <td class="ReadInput02"><input type="text" value="--" readonly></td>
      <td class="ReadInput02"><input type="text" value="--" readonly></td>
    </tr>
    <tr>
      <td colspan="12" class="title01">期末未缴查补税额</td>
      <td colspan="5" align="center" class="title01">38=16+22+36-37</td>
      <td colspan="7" class="ReadInput01" ><input readonly="true"  type="text" ></td>
      <td class="ReadInput01"><input  type="text" readonly></td>
      <td class="ReadInput02"><input  type="text" value="--" readonly></td>
      <td class="ReadInput02"><input  type="text" value="--" readonly></td>
    </tr>
    </table>
</div>
  <div class="NewTableFoot" height="15px;">
</div>


<div id="fb2qcs" class="NewTableHead">
     <h1>增值税纳税申报表附列资料（表二）（本期进项税额明细）期初数设置</h1>
</div>
<div class="NewTableMain">
  <table width="100%" border="0" cellpadding="0" cellspacing="1">
    <tr align="center" class="title01">
      <td colspan="6" class="title01"><strong>二、进项税额转出额</strong></td>
    </tr>
    <tr>
      <td colspan="2" align="center" class="title01">项目</td>
      <td align="center" class="title01">栏次</td>
      <td colspan="3" align="center" class="title01">税额</td>
    </tr>
    <tr>
      <td colspan="2" class="title01">          上期留抵税额抵减欠税</td>
      <td align="center" class="title01">21</td>
      <td colspan="3" class="EditInput01"><input ng-model="formData.sqldsedjqs" type="text" ng-datatype="positive_number"></td>
    </tr>
    <tr>
      <td colspan="2" class="title01">          上期留抵税额退税</td>
      <td align="center" class="title01">22</td>
      <td colspan="3" class="EditInput01"><input ng-model="formData.sqldsets" type="text" ng-datatype="positive_number"></td>
    </tr>
    <tr align="center" class="title01">
      <td colspan="6" class="title01"><strong>三、待抵扣进项税额</strong></td>
    </tr>
    <tr>
      <td colspan="2" align="center" class="title01">项目</td>
      <td align="center" class="title01">栏次</td>
      <td align="center" class="title01">份数</td>
      <td align="center" class="title01">金额</td>
      <td align="center" class="title01">税额</td>
    </tr>
    <tr>
      <td colspan="2" class="title01">     　 &nbsp;期初已认证相符但未申报抵扣</td>
      <td align="center" class="title01">25</td>
      <td class="EditInput01"><input ng-model="formData.sqqmyrzxfDwsbdkfs" type="text" ng-datatype="number{0}"></td>
      <td class="EditInput01"><input ng-model="formData.sqqmyrzxfDwsbdkje" type="text" ng-datatype="number"></td>
      <td class="EditInput01"><input ng-model="formData.sqqmyrzxfDwsbdkse" type="text" ng-datatype="number"></td>
      </tr>       
    </table>
    </div>
    <div class="NewTableFoot" height="15px;">
	</div>


<div id="fb3qcs" class="NewTableHead">
     <h1>增值税纳税申报表附列资料（三）（服务、不动产和无形资产扣除项目明细）期初数设置</h1>
</div>
<div class="NewTableMain">
	<table width="100%" border="0" cellpadding="0" cellspacing="1">
    <tr>
      <td colspan="2" rowspan="3" align="center" class="title01">项目及栏次</td>
      <td  rowspan="2" align="center" class="title01">本期服务、不动产和无形<br>资产价税合计额（免税销售额）</td>
      <td colspan="5" align="center" class="title01">服务、不动产和无形资产扣除项目</td>
    </tr>
    <tr >
      <td  align="center" class="title01">期初余额</td>
      <td  align="center" class="title01">本期发生额</td>
      <td  align="center" class="title01">本期应扣除金额</td>
      <td  align="center" class="title01">本期实际扣除金额</td>
      <td  align="center" class="title01">期末余额</td>
    </tr>
    <tr>
      <td  align="center" class="title01">1</td>
      <td  align="center" class="title01">2</td>
      <td  align="center" class="title01">3</td>
      <td  align="center" class="title01">4=2+3</td>
      <td  align="center" class="title01">5(5≤1且5≤4)</td>
      <td  align="center" class="title01">6=4-5</td>
    </tr>
    <tr>
      <td class="title01" >16%税率的项目</td>
      <td  align="center" class="title01"  width="7%">1</td>
     <td class="ReadInput01"><input  type="text" readonly></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.ysfwkcxm17sldyxdczlfwlj" type="text"></td>
      <td class="ReadInput01"><input  type="text" readonly></td>
     <td class="ReadInput01"><input  type="text" readonly></td>
      <td class="ReadInput01"><input  type="text" readonly></td>
     <td class="ReadInput01"><input  type="text" readonly></td>
    </tr>
    <tr>
      <td class="title01" >10%税率的项目</td>
      <td  align="center" class="title01">2</td>
     <td class="ReadInput01"><input  type="text" readonly></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.ysfwkcxm11sldysfwlj" type="text"></td>
      <td class="ReadInput01"><input  type="text" readonly></td>
     <td class="ReadInput01"><input  type="text" readonly></td>
      <td class="ReadInput01"><input  type="text" readonly></td>
     <td class="ReadInput01"><input  type="text" readonly></td>
      </tr>
    <tr>
      <td class="title01" >6%税率的项目（不含金融商品转让）</td>
      <td  align="center" class="title01">3</td>
      <td class="ReadInput01"><input  type="text" readonly></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.ysfwkcxm6bhjrsldysfwlj" type="text"></td>
      <td class="ReadInput01"><input  type="text" readonly></td>
     <td class="ReadInput01"><input  type="text" readonly></td>
      <td class="ReadInput01"><input  type="text" readonly></td>
     <td class="ReadInput01"><input  type="text" readonly></td>
      </tr>
    <tr>
      <td class="title01" >6%税率的金融商品转让项目</td>
      <td  align="center" class="title01">4</td>
      <td class="ReadInput01"><input  type="text" readonly></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.ysfwkcxm6jrsldysfwlj" type="text"></td>
      <td class="ReadInput01"><input  type="text" readonly></td>
     <td class="ReadInput01"><input  type="text" readonly></td>
      <td class="ReadInput01"><input  type="text" readonly></td>
     <td class="ReadInput01"><input  type="text" readonly></td>
      </tr>
    <tr>
      <td class="title01" >5%征收率的项目</td>
      <td  align="center" class="title01">5</td>
     <td class="ReadInput01"><input  type="text" readonly></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.ysfwkcxm5sldysfwlj" type="text"></td>
      <td class="ReadInput01"><input  type="text" readonly></td>
     <td class="ReadInput01"><input  type="text" readonly></td>
      <td class="ReadInput01"><input  type="text" readonly></td>
     <td class="ReadInput01"><input  type="text" readonly></td>
      </tr>
    <tr>
      <td class="title01" >3%征收率的项目</td>
      <td  align="center" class="title01">6</td>
     <td class="ReadInput01"><input  type="text" readonly></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.ysfwkcxm3zsldysfwlj" type="text"></td>
      <td class="ReadInput01"><input  type="text" readonly></td>
     <td class="ReadInput01"><input  type="text" readonly></td>
      <td class="ReadInput01"><input  type="text" readonly></td>
     <td class="ReadInput01"><input  type="text" readonly></td>
      </tr>
    <tr>
      <td class="title01" >免抵退税的项目</td>
      <td  align="center" class="title01">7</td>
     <td class="ReadInput01"><input  type="text" readonly></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.ysfwkcxmmdtsdysfwlj" type="text"></td>
      <td class="ReadInput01"><input  type="text" readonly></td>
     <td class="ReadInput01"><input  type="text" readonly></td>
      <td class="ReadInput01"><input  type="text" readonly></td>
     <td class="ReadInput01"><input  type="text" readonly></td>
      </tr>
    <tr ng-render-finish="">
      <td class="title01" >免税的项目</td>
      <td  align="center" class="title01">8</td>
     <td class="ReadInput01"><input  type="text" readonly></td>
      <td class="EditInput01"><input ng-datatype="number" ng-model="formData.ysfwkcxmmsdysfwlj" type="text"></td>
      <td class="ReadInput01"><input  type="text" readonly></td>
     <td class="ReadInput01"><input  type="text" readonly></td>
      <td class="ReadInput01"><input  type="text" readonly></td>
     <td class="ReadInput01"><input  type="text" readonly></td>
      </tr>
  </table>
</div>
  <div class="NewTableFoot" height="15px;">
</div>

<div id="fb4qcs" class="NewTableHead">
     <h1>增值税纳税申报表附列资料（四）（税额抵减情况表）期初数设置</h1>
</div>

<div class="NewTableMain">
  <table width="100%" border="0" cellpadding="0" cellspacing="1">
 
    <tr>
      <td rowspan="2" align="center" class="title01"><strong>序号</strong></td>
      <td rowspan="2" align="center" class="title01"><strong>抵减项目</strong></td>
      <td align="center" class="title01"><strong>期初余额</strong></td>
      <td align="center" class="title01"><strong>本期发生额</strong></td>
      <td align="center" class="title01"><strong>本期应抵减税额</strong></td>
      <td align="center" class="title01"><strong>本期实际抵减税额</strong></td>
      <td align="center" class="title01"><strong>期末余额</strong></td>
    </tr>
    <tr>
      <td align="center" class="title01">1</td>
      <td align="center" class="title01">2</td>
      <td align="center" class="title01">3=1+2</td>
      <td align="center" class="title01">4≤3</td>
      <td align="center" class="title01">5=3-4</td>
    </tr>
    <tr>
      <td align="center" class="title01">1</td>
      <td width="254" class="title01">增值税税控系统专用设备费及技术维护费</td>
      <td class="EditInput01"><input ng-model="formData.zzsskxtzysbfyjjswhf.qcye" type="text" ng-datatype="number"></td>
      <td class="ReadInput01"><input  type="text" readonly></td>
      <td class="ReadInput01"><input  type="text" readonly></td>
      <td class="ReadInput01"><input  type="text" readonly></td>
      <td class="ReadInput01"><input  type="text" readonly></td>
      </tr>
    <tr>
      <td align="center" class="title01">2</td>
      <td class="title01">分支机构预征缴纳税款 </td>
      <td class="EditInput01"><input ng-model="formData.fzjgyzjnk.qcye" type="text" ng-datatype="number"></td>
      <td class="ReadInput01"><input  type="text" readonly></td>
      <td class="ReadInput01"><input  type="text" readonly></td>
      <td class="ReadInput01"><input  type="text" readonly></td>
      <td class="ReadInput01"><input  type="text" readonly></td>
      </tr>
    <tr>
      <td align="center" class="title01">3</td>
      <td class="title01">建筑服务预征缴纳税款 </td>
      <td class="EditInput01"><input ng-model="formData.jzfwyzjnk.qcye" type="text" ng-datatype="number"></td>
      <td class="ReadInput01"><input  type="text" readonly></td>
      <td class="ReadInput01"><input  type="text" readonly></td>
      <td class="ReadInput01"><input  type="text" readonly></td>
      <td class="ReadInput01"><input  type="text" readonly></td>
      </tr>
    <tr>
      <td align="center" class="title01">4</td>
      <td class="title01">销售不动产预征缴纳税款 </td>
      <td class="EditInput01"><input ng-model="formData.xsbdcyzjnk.qcye" type="text" ng-datatype="number"></td>
      <td class="ReadInput01"><input  type="text" readonly></td>
      <td class="ReadInput01"><input  type="text" readonly></td>
      <td class="ReadInput01"><input  type="text" readonly></td>
      <td class="ReadInput01"><input  type="text" readonly></td>
      </tr>
    <tr ng-render-finish="">
      <td align="center" class="title01">5</td>
      <td class="title01">出租不动产预征缴纳税款</td>
      <td class="EditInput01"><input ng-model="formData.czbdcyzjnk.qcye" type="text" ng-datatype="number"></td>
      <td class="ReadInput01"><input  type="text" readonly></td>
      <td class="ReadInput01"><input  type="text" readonly></td>
      <td class="ReadInput01"><input  type="text" readonly></td>
      <td class="ReadInput01"><input  type="text" readonly></td>
      </tr>
  </table>
</div>

  <div class="NewTableFoot" height="15px;">
</div>

<div id="fb5qcs" class="NewTableHead">
     <h1>增值税纳税申报表附列资料（五）（不动产分期抵扣计算表）期初数设置</h1>
</div>
<div class="NewTableMain">
        <table width="100%" border="0" cellpadding="0" cellspacing="1">
            <col span="6">
            <tr>
                <td align="center" class="title01"><strong>期初待抵扣不动产进项税额</strong></td>
                <td align="center" class="title01"><strong>本期不动产进项税额增加额</strong></td>
                <td align="center" class="title01"><strong>本期可抵扣不动产进项税额</strong></td>
                <td align="center" class="title01"><strong>本期转入的待抵扣不动产进项税额</strong></td>
                <td align="center" class="title01"><strong>本期转出的待抵扣不动产进项税额</strong></td>
                <td align="center" class="title01"><strong>期末待抵扣不动产进项税额</strong></td>
                <!--<td>操作</td>-->
            </tr>
            <tr ng-render-finish="">
                <td align="center" class="title01">1</td>
                <td align="center" class="title01">2</td>
                <td align="center" class="title01">3≤1+2+4</td>
                <td align="center" class="title01">4</td>
                <td align="center" class="title01">5≤1+4</td>
                <td align="center" class="title01">6=1+2-3+4-5</td>
                <!--<td align="center" class="title01">7</td>-->
            </tr>
            <tr>
                <td class="EditInput01">
                    <input ng-datatype="number"  type="text" ng-model="formData.fb5qcye">
                </td>
                <td class="ReadInput01">
                    <input type="text" readonly>
                </td>
                <td class="ReadInput01">
                    <input  type="text" readonly>
                </td>
                <td class="ReadInput01">
                    <input type="text" readonly>
                </td>
                <td class="ReadInput01">
                    <input type="text" readonly>
                </td>
                <td class="ReadInput01">
                <input type="text" readonly></td>
            </tr>
            <tr ng-render-finish=""></tr>
        </table>
    </div>
    <div class="NewTableFoot" height="15px;">
	</div>
	
	
	<div id="fb6qcs" class="NewTableHead" style="display:none;">
	     <h1>铁路建设基金纳税申报表期初数设置</h1>
	</div>
	<div class="NewTableMain" style="display:none;">
	  <table width="100%" border="0" cellpadding="0" cellspacing="1">
	 
	    <tr>
	      <td  align="center" class="title01"><strong>项目</strong></td>
	      <td  align="center" class="title01"><strong>当期申报数</strong></td>
	      <td  align="center" class="title01"><strong>本年申报累计</strong></td>
	    </tr>
	   <!--  <tr>
	      <td align="center" class="title01">合计</td>
	      <td class="EditInput01">
	        <input jflag="1"  type="text" value="0.00">
	      </td>
	      <td class="EditInput01">
	        <input jflag="1"  type="text" value="0.00"></td>
	    </tr> -->
	    <tr>
	      <td class="title01">铁路建设基金销售额</td>
	      <td class="ReadInput01"><input type="text" readonly></td>
	      <td class="EditInput01"><input ng-datatype="number"  type="text" ng-model="formData.tljsjjxse.bnlj"></td>
	      </tr>
	    <tr>
	      <td class="title01">铁路建设基金应纳税额</td>
	      <td class="ReadInput01"><input type="text" readonly></td>
	      <td class="EditInput01"><input ng-datatype="number"  type="text" ng-model="formData.tljsjjynse.bnlj"></td>
	      </tr>
	  </table>
	</div>
	<div class="NewTableFoot" height="15px;" style="display:none;">
	</div>

	<div id="fb7qcs" class="NewTableHead">
	     <h1>固定资产（不含不动产）进项税额抵扣情况表期初数设置</h1>
	</div>
	<div class="NewTableMain">
	  <table width="100%" border="0" cellpadding="0" cellspacing="1">
	  
	    <tr>
	      <td align="center" class="title01" ><strong>项目</strong></td>
	      <td align="center" class="title01" ><strong>当期申报抵扣的固定资产进项税额</strong></td>
	      <td align="center" class="title01" ><strong>申报抵扣的固定资产进项税额累计</strong></td>
	    </tr>
	    <tr>
	      <td class="title01"  align="center">增值税专用发票</td>
	      <td class="ReadInput01"><input type="text" readonly></td>
	      <td class="EditInput01"><input ng-datatype="number"  type="text" ng-model="formData.fplj"></td>
	      </tr>
	    <tr>
	      <td class="title01"  align="center">海关进口增值税专用缴款书</td>
	      <td class="ReadInput01"><input type="text" readonly></td>
	      <td class="EditInput01"><input ng-datatype="number"  type="text" ng-model="formData.jkslj"></td>
	      </tr>
	    <tr ng-render-finish="">
	      <td align="center" class="title01">合        计</td>
	      <td class="ReadInput01"><input type="text" readonly></td>
	      <td class="ReadInput01"><input type="text" readonly></td>
	      </tr>
	  </table>
	</div>
	<div class="NewTableFoot" height="15px;">
	</div>

</div>
</body>
<script src="../../../../resources/js/setting/setViewEngine.js" type="text/javascript"></script>
</html>
